<html>
	<head>
		<style>
			h1 {text-align: center;}
			p {text-align: center;}
			div {text-align: center;}
			form {text-align: center;}
			input {text-align: center;}
		</style>
		<meta charset= "utf-8">
		<title> Location </title>
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for msg in messages %}
					<p> {{msg}} </p>
				{% endfor %}
			{% endif %}
		{% endwith %}
	<h1> {{ loc }} </h1>
	<p>
	{% for k,v in rate.items() %}
	<div class="link">
		<p>{{k}} : {{v}} </p>
	</div>
	{% endfor %}
	</p>
	<p>
	<a href=/> Go Back to Home Page </a>
	</p>
	</body>
</html>
